@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    width: 100%;
    height: 100%;
}

.container{
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    max-width: inherit !important;
}

.landingImage {
    background-image: url("./assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 15%;
    padding-bottom: 2%;
}

h1 {
    padding: 5px;
    font-size: 10px;
}

.subHeading {
    padding: 5px;
}
.mouse {
    padding: 10px;
}
#mousePic {
    animation: bounce 2s  infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
      }
    60% {
      transform: translateY(-20px);
    }
  }

  #aboutUs{
    text-align: center;
    padding-bottom: 30px;
    padding-top:40px;
    font-family: 'Copse', serif;
  }

  #services{
    text-align: center;
    background-image: url("./assets/backgrounds/s_image.jpg");
    background-color: rgba(0,0,0,0.4);
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Copse', serif;
    font-size: 18px;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  #whatWeDo{
    font-family: 'Quattrocento', serif;
    text-align: center;
    padding-top: 40px;
    font-family: 'Gabriela', serif;
  }
  #whatWeDo h2 {
      padding: 20px;
  }
.col-md-4 {
    cursor: pointer;
}
  #design, #development, #projectManagement{
    display:none;
  }

  #portfolio h2{
    text-align: center;
    padding-top:40px;
    font-family: 'Gabriela', serif;
  }

  #portfolioRow{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:18%;
    margin-right: 16%; 
  }

  .col-md-3 img{
    max-width: 100%;
    max-height: 100%;
  }